<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3>Track Transaction</h3>
        </div>
        <div class="pull-right">
            <a href="#">Home</a>
            <a href="/">Track Transaction</a>
        </div>
    </div>
</section>

<section class="tracking_search_area">
    <div class="container">
        <div class="tracking_search_inner">
            <% if (error !='' ) { %>
                <div class="alert alert-danger" role="alert">
                    <%=error%>
                </div>
                <%}%>
                    <h2 class="single_title">Track your transaction</h2>
                    <h5>Enter a tracking number, and get tracking results.</h5>
                    <form>
                        <div class="input-group">
                            <input name="tracking_code" type="text" class="form-control" placeholder="Tracking Number">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-circle-o-notch"
                                        aria-hidden="true"></i>
                                    Track</button>
                            </span>
                        </div>
                    </form>
        </div>
    </div>
</section>


<section class="timeline_tracking_area">
    <div class="container">
        <div class="timeline_tracking_inner">
            <div class="timeline_tracking_box">
                <!-- Flash Tracking Number Start -->
                <% if(tracking_code ) { %>
                    <div class="tracking_head">
                        <h4>
                            <%=tracking_code%>
                        </h4>
                    </div>
                    <% } %>
                        <!-- Flash Tracking Number End -->
                        <% if(data.length> 0) { %>
                            <div class="scheduled_area">
                                <ul>
                                    <% data.forEach((v, i)=> {%>
                                        <li>
                                            <div class="schedul_box">
                                                <h5>
                                                    <%=v.status%>
                                                </h5>
                                            </div>
                                            <% if(v.active !=true) { %>
                                                <div class="s_icon "></div>
                                                <% } else { %>
                                                    <div class="s_icon active"></div>
                                                    <% } %>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                            <div class="container" style="margin-bottom: 50px;">
                                <div style="max-width: 600px;
                                margin: auto;">
                                    <% data.forEach((v, i)=> {%>
                                        <% if(v.status=="Approved" && v.active==true) { %>
                                            <div class="tracking_in tag-delivered">
                                                <h4>SUCCESS</h4>
                                            </div>
                                            <% } %>
                                                <% }) %>

                                                    <% } %>
                                </div>

                            </div>
                            <% if (data.length> 0) { %>
                                <div class="container">
                                    <div class="table-content">
                                        <table class="table">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Reciever</th>
                                                    <th scope="col">Amount</th>
                                                    <th scope="col">Session Id</th>
                                                    <!-- <th scope="col">Current</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <%=details.reciever%>
                                                    </td>
                                                    <td>
                                                        <%=details.amount%>
                                                    </td>
                                                    <td>
                                                        <%=details.session_id%>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <% } %>
            </div>
        </div>
    </div>
</section>